services:
  - type: web
    name: metro-track-and-field
    env: ruby
    plan: free
    buildCommand: bundle install && yarn install && bundle exec rake assets:precompile db:migrate
    startCommand: bundle exec puma -C config/puma.rb
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: metro-db
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false

databases:
  - name: metro-db
    plan: free
