<div id="<%= dom_id athlete %>">
  <p>
    <strong>Name:</strong>
    <%= athlete.name %>
  </p>

  <p>
    <strong>Graduation Year:</strong>
    <%= athlete.grade %>
  </p>

  <p>
    <strong>School:</strong>
    <%= athlete.school %>
  </p>

</div>
