
<% if @athlete.errors.any? %>
  <div class="alert alert-danger">
    <h4><%= pluralize(@athlete.errors.count, "error") %> prohibited this athlete from being saved:</h4>
    <ul>
      <% @athlete.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% content_for :title, "New athlete" %>
<% if logged_in? %>


<h1>New athlete</h1>

<%= render "form", athlete: @athlete %>

<br>

<div>
  <%= link_to "Back to athletes", athletes_path %>
</div>
<% end %>